<!DOCTYPE html>
<html lang="es" data-bs-theme = "light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sucursal</title>
    <link rel="icon" href="../../assets/img/logo.png">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/solid.css">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/regular.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/css/custom.css">
</head>
<body>
    <header id="headerPage" class="sticky-top"></header>

    <main id="mainPage" class="my-3">
        <div class="nav justify-content-center"><h1>Empleados</h1></div>
        <div class="container my-4">
            <div id="h1-SICEFA-sm" class="d-sm-none"></div>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-iniciarSesion-tab" data-bs-toggle="tab" data-bs-target="#nav-iniciarSesion" type="button" role="tab" aria-controls="nav-iniciarSesion" aria-selected="true">Agregar</button>
                <button class="nav-link" id="nav-inicio-tab" data-bs-toggle="tab" data-bs-target="#nav-inicio" type="button" role="tab" aria-controls="nav-iniciarSesion" aria-selected="false">Consultar</button>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <div  class="tab-pane fade show active p-3 p-md-4 border border-top-0" id="nav-iniciarSesion" role="tabpanel" aria-labelledby="nav-iniciarSesion-tab" tabindex="0">
                    <!--Aqui inicia el contenido de Registar cliente-->
                    <div class="card">

                        <div class="card-header text-center pb-0">
                            <h2 id="h2-SICEFA">Agregar empleado</h2>
                        </div> 
                            
                        <div class="card-body ">
                            <form id="theform">
                                <h3>Datos personales</h3>
                                    <!-- nombre -->
                                <div class="row">
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtnombre" required>
                                        <label for="txtnombre">Nombre </label>
                                    </div>
                                    <!-- apellido paterno -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtapellidoP" required>
                                        <label for="txtapellidoP">Apellido Paterno </label>
                                    </div>
                                    <!-- apellido materno -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtapellidoM" required>
                                        <label for="txtapellidoM">Apellido Materno </label>
                                    </div>
                                    <!-- genero -->
                                    <div class="my-1 col-12 col-md-6 col-lg-4">
                                        <div class="row">
                                            <label>Genero</label>
                                            <div class="col text-center">
                                                <input type="radio" class="form-check-input" id="rdgenerom" value="masculino" name="genero" required>                   
                                                <label for="rdgenerom">Masculino</label>
                                            </div>
                                            <div class="col text-center">
                                                <input type="radio" class="form-check-input" id="rdgenerof" value="femenino" name="genero" required>
                                                <label for="rdgenerof">Femenino</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- fecha de nacimiento -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="date" class="form-control my-2" id="txtfechaNac" required>
                                        <label for="txtfechaNac">Fecha de Nacimiento </label>
                                    </div>
                                    <!-- rfc -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtrfc" required>
                                        <label for="txtrfc">RFC </label>
                                    </div>
                                    <!-- curp -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtcurp" required>
                                        <label for="txtcurp">CURP </label>
                                    </div>
                                    <!-- domicilio -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtdomicilio" required>
                                        <label for="txtdomicilio">Domicilio </label>
                                    </div>
                                    <!-- cp -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="number" class="form-control my-2" id="txtcp" required>
                                        <label for="txtcp">Código Postal </label>
                                    </div>
                                    <!-- ciudad -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtciudad" required>
                                        <label for="txtciudad">Ciudad </label>
                                    </div>
                                    <!-- estado -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtestado" required>
                                        <label for="txtestado">Estado </label>
                                    </div>
                                    <!-- telefono -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="number" class="form-control my-2" id="txttelefono" required>
                                        <label for="txttelefono">Teléfono </label>
                                    </div>
                                </div>
                                
                                <h3>Datos Laborales</h3>
                                <div class="row">
                                    <!-- email -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="email" class="form-control my-2" id="txtemail" required>
                                        <label for="txtemail">Email </label>
                                    </div>
                                    <!-- puesto -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <select class="form-select" id="txtpuesto" required>
                                            <option value="Atencion a Clientes">Atencion a Clientes</option>
                                            <option value="Gerente">Gerente</option>
                                        </select>
                                        <label for="txtpuesto">Puesto </label>
                                    </div>
                                    <!-- rol -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <select class="form-select" id="txtrol" required>
                                            <option value="EMPS">Empleado</option>
                                            <option value="ADMS">Administrador</option>
                                        </select>
                                        <label for="txtrol">Rol </label>
                                    </div>
                                    <!-- salario -->
                                    <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                        <input type="text" class="form-control my-2" id="txtsalario" required>
                                        <label for="txtsalario">Salario </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- boton agregar-->
                                    <button id="btnAgregarEmpleado" type="submit" class="btn btn-success col-10 col-md-5 col-lg-4 my-2 mx-auto">Agregar</button>
                                    <!-- boton clear -->
                                    <button id="btnLimpiarDatos" type="reset" class="btn btn-secondary col-10 col-md-5 col-lg-4 my-2 mx-auto">Limpiar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Aqui termina el contenido de consultar-->
                </div>

                <div class="tab-pane fade px-5 py-3 p-md-3 text-justify border border-top-0" id="nav-inicio" role="tabpanel" aria-labelledby="nav-inicio-tab" tabindex="0">
                    <!--Aqui inicia el contenido de consular-->
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name ="chkestatus" id="chkestatus">
                                        <label class="form-check-label" for="chkestatus">Empleados inactivos</label>
                                    </div>
                                </div>

                                <!-- <div class="col" >
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input type="text" id="txtdatobuscado" class="form-control" />
                                            <label  for="txtdatobuscado">Buscar</label>
                                        </div>
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div> -->
                
                            </div>
                        <div class="col-12">
                                <div class="d-flex gap-2 justify-content-center">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th class="d-none d-md-table-cell">Email</th>
                                                <th>Rol</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblEmpleados"></tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                    <!-- aqui termina  -->
                </div>
            </div>
        </div>
    </main>
    <footer id="footerPage" class="sticky-bottom"></footer>
    <script src="../../lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../controllers/empleadosController.js" type="module"></script>
</body>
</html>