<!DOCTYPE html>
<html lang="es" data-bs-theme = "light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sucursal</title>
    <link rel="icon" href="../../assets/img/logo.png">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/solid.css">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/regular.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/css/custom.css">
</head>
<body>
    <header id="headerPage" class="sticky-top"></header>

    <main id="mainPage" class="my-3">
    </main>
    <footer id="footerPage" class="sticky-bottom"></footer>
    <script src="../../lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../controllers/empleadosController.js" type="module"></script>
</body>
</html>