<!-- Declaración del tipo de documento y especificación del idioma -->
<!DOCTYPE html>
<html lang="es" data-bs-theme="light">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8"> <!-- Define el juego de caracteres -->
    <!-- Configuración para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sucursal</title> <!-- Título de la página -->
    <link rel="icon" href="../../assets/img/logo.png"> <!-- Logo de la pestaña del navegador -->

    <!-- Enlaces a hojas de estilo y librerías -->
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/solid.css">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/regular.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../../assets/css/custom.css"> <!-- Estos son los estilos personalizados -->
    <link rel="stylesheet" href="../../lib/sweetalert/css/sweetalert2.min.css">
</head>

<body>
    <!-- Encabezado de la página -->
    <header id="headerPage" class="sticky-top"></header>

    <!-- Contenido principal de la página -->
    <main id="mainPage" class="my-3">
        <!-- Título de la sección de pedidos -->
        <div class="nav justify-content-center">
            <h1>Pedidos</h1>
        </div>

        <!-- Contenedor principal con pestañas -->
        <div class="container my-4">
            <div id="h1-SICEFA-sm" class="d-sm-none"></div>

            <!-- Pestañas de navegación -->
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link " id="nav-agregar-tab"  data-bs-toggle="tab"
                    data-bs-target="#nav-agregar" type="button" role="tab" aria-controls="nav-agregar"
                    aria-selected="true" disabled>Agregar</button>
                <button class="nav-link active" id="nav-inicio-tab" data-bs-toggle="tab" data-bs-target="#nav-inicio"
                    type="button" role="tab" aria-controls="nav-agregar" aria-selected="false">Consultar</button>
            </div>

            <!-- Contenido de las pestañas -->
            <div class="tab-content" id="nav-tabContent">
                <!-- Sección de realización de pedido -->
                <div class="tab-pane fade p-3 p-md-4 border border-top-0" id="nav-agregar"
                    role="tabpanel" aria-labelledby="nav-agregar-tab" tabindex="0">
                    <!--Aqui inicia la seccion de realizacion de pedido-->
                    <div class="card">

                        <!-- Encabezado de la sección de realización de pedido -->
                        <div class="card-header text-center pb-0">
                            <h2 id="h2-SICEFA">Realizar pedido</h2>
                        </div>

                        <!-- Formulario de ingreso de datos del producto -->
                        <div class="card-body ">
                            <form id="theform">
                                <h3>Datos del producto</h3>
                                <div class="d-flex gap-2 justify-content-center">
                                    <!-- Campo para el código del producto -->
                                    <div class="form-floating my-3 col-4 col-md-5 col-lg-3">
                                        <input type="text" class="form-control my-2" id="txtCodigo">
                                        <label for="txtCodigo">Codigo del producto </label>
                                    </div>
                                    <!-- Campo para el nombre del producto -->
                                    <div class="form-floating my-3 col-4 col-md-5 col-lg-3">
                                        <input type="text" class="form-control my-2" id="txtNombreProducto">
                                        <label for="txtNombreProducto">Nombre del producto</label>
                                    </div>
                                    <!-- Campo para las unidades del producto -->
                                    <div class="form-floating my-3 col-4 col-md-5 col-lg-3">
                                        <input type="text" class="form-control my-2" id="txtUnidades">
                                        <label for="txtUnidades">Unidades</label>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Botones de acción (Agregar y Limpiar) -->
                        <div class="row">
                            <!-- Botón para agregar el pedido -->
                            <button id="btnAgregar" type="submit"
                                class="btn btn-success col-10 col-md-5 col-lg-4 my-2 mx-auto">Agregar</button>
                            <!-- Botón para limpiar el formulario -->
                            <button id="btnClear" type="reset"
                                class="btn btn-secondary col-10 col-md-5 col-lg-4 my-2 mx-auto">Limpiar</button>
                        </div>
                    </div>
                    <!--Aqui termina la seccion de realizacion de pedido -->
                </div>

                <!-- Sección de consulta de pedidos -->
                <div class="tab-pane fade px-5 py-3 show active p-md-5 text-justify border border-top-0" id="nav-inicio"
                    role="tabpanel" aria-labelledby="nav-inicio-tab" tabindex="0">
                    <!--Aqui inicia la secion de pedidos completados y/o pendientes -->
                    <div class="row">
                        <div class="row mb-2">
                            <div class="col">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="chkestatus" id="chkestatus">
                                    <label class="form-check-label" for="chkestatus">Pedidos completados</label>
                                </div>
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                <button id="btnRecargarDatosProducto" class="btn btn-sm my-auto"><i
                                        class="fas fa-sync-alt"></i></button>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="input-group">
                                    <div class="form-floating">
                                        <input type="text" id="txtdatobuscado" class="form-control" />
                                        <label for="txtdatobuscado">Buscar</label>
                                    </div>
                                    <!-- Botón de búsqueda -->
                                    <button type="button" class="btn btn-primary" id="btnBuscar">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Tabla que muestra la información de los pedidos -->
                        <div class="col">
                            <div class="d-flex gap-2 justify-content-center">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Unidades</th>
                                            <th>Estatus</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblPedidos"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- modal -->
                        <div class="modal fade" id="modalVerPedido" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Datos del empleado</h5>
                                        <button id="btnCerrarModal-header" type="button" class="btn-close"
                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <!-- aqui va el contenido del modal -->
                                    <div class="modal-body">
                                        <form id="formAgregarPedido-modal">
                                            <div class="row">
                                                <!-- Nombre de la sucursal modal -->
                                                <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                                    <input type="number" class="form-control my-2"
                                                        id="txtNombreSucursal-modal" required disabled>
                                                    <label for="txtNombreSucursal-modal">Nombre sucursal</label>
                                                </div>
                                                <!-- Direccion de sucursal modal -->
                                                <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                                    <input type="text" class="form-control my-2" id="txtDireSucursal-modal"
                                                        required disabled>
                                                    <label for="txtDireSucursal-modal">Direccion sucursal</label>
                                                </div>
                                                <!-- Id del empleado modal -->
                                                <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                                    <input type="number" class="form-control my-2"
                                                        id="txtidProducto-modal" required disabled>
                                                    <label for="txtidEmpleado-modal">Id Empleado</label>
                                                </div>
                                                <!-- nombre del empleado modal -->
                                                <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                                    <input type="text" class="form-control my-2" id="txtnombre-modal"
                                                        required disabled>
                                                    <label for="txtNombreEmpleado-modal">Nombre del empleado</label>
                                                </div>
                                                <!-- Usuario empleado modal -->
                                                <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                                    <input type="text" class="form-control my-2"
                                                        id="txtUsuarioEmpleado-modal" required disabled>
                                                    <label for="txtUsuarioEmpleado-modal">Usuario empleado</label>
                                                </div>
                                                <!-- Fecha modal -->
                                                <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                                    <input type="text" class="form-control my-2"
                                                        id="txtFecha-modal" required disabled>
                                                    <label for="txtFecha-modal">Fecha</label>
                                                </div>
                                                <!-- Hora modal -->
                                                <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                                    <input type="text" class="form-control my-2"
                                                        id="txtHora-modal" required disabled>
                                                    <label for="txtHora-modal">Hora</label>
                                                </div>
                                                 <!-- Estatus modal -->
                                                 <div class="form-floating my-1 col-12 col-md-6 col-lg-4">
                                                    <input type="text" class="form-control my-2"
                                                        id="txtHora-modal" required disabled>
                                                    <label for="txtHora-modal">Estatus</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- footer modal -->
                                    <div class="modal-footer">
                                        <button id="btnEditarProducto" type="button"
                                            class="btn btn-warning disabled">Editar</button>
                                        <button id="btnConfirmarEdicion" type="button"
                                            class="btn btn-success disabled">Confirmar</button>
                                        <button id="btnCerrarModal" type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Salir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Pie de página -->
    <footer id="footerPage" class="sticky-bottom"></footer>

    <!-- Enlaces a scripts de JavaScript -->
    <script src="../../lib/bootstrap/js/bootstrap.bundle.js"></script> <!-- Bootstrap con soporte para bundles -->
    <script src="../../lib/sweetalert/js/sweetalert2.min.js"></script> <!-- SweetAlert para notificaciones -->
    <script src="../../controllers/pedidosController.js" type="module"></script>
    <!-- Controlador de pedidos en JavaScript -->
</body>

</html>