<!DOCTYPE html>
<html lang="es" data-bs-theme = "light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central</title>
    <link rel="icon" href="../../assets/img/logo.png">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/solid.css">
    <link rel="stylesheet" href="../../lib/fontawesome-free-6.4.2-web/css/regular.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../assets/css/custom.css">
</head>
<body>
    <header id="headerPage" class="sticky-top"></header>

    <main id="mainPage" class="my-3">
            <div class="container-fluid d-flex align-items-center justify-content-center my-3">
                <div class="col-2 col-md-1 mx-2">
                    <img src="../../assets/img/empleado.jpeg" alt="foto empleado" class="img-fluid rounded-circle">
                </div>
                <div>
                    <p class="h1 mx-2">¡Bienvenido<span id="nombreBienvenida" class="text-reset"></span>!</p>
                </div>
            </div>
        <div class="container">
            <form id="theform">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <h3>Datos personales</h3>
                        <div class="form-floating my-1">
                            <input type="text" class="form-control my-2" id="txtnombre" disabled>
                            <label for="txtnombre">Nombre </label>
                        </div>
                        <div class="form-floating my-1">
                            <input type="text" class="form-control my-2" id="txtgenero" disabled>
                            <label for="txtgenero">Genero </label>
                        </div>
                        <div class="form-floating my-1">
                            <input type="txt" class="form-control my-2" id="txtfechaNac" disabled>
                            <label for="txtfechaNac">Fecha de Nacimiento </label>
                        </div>
                        <div class="form-floating my-1">
                            <input type="text" class="form-control my-2" id="txtrfc" disabled>
                            <label for="txtrfc">RFC </label>
                        </div>
                        <div class="form-floating my-1">
                            <input type="text" class="form-control my-2" id="txtcurp" disabled>
                            <label for="txtcurp">CURP </label>
                        </div>
                        <div class="form-floating my-1">
                            <input type="text" class="form-control my-2" id="txtdomicilio" disabled>
                            <label for="txtdomicilio">Domicilio </label>
                        </div>
                        <!-- cp -->
                        <div class="form-floating my-1 m-auto">
                            <input type="text" class="form-control my-2" id="txtcp" disabled>
                            <label for="txtcp">Código Postal </label>
                        </div>
                        <!-- ciudad -->
                        <div class="form-floating my-1">
                            <input type="text" class="form-control my-2" id="txtciudad" disabled>
                            <label for="txtciudad">Ciudad </label>
                        </div>
                        <!-- estado -->
                        <div class="form-floating my-1">
                            <input type="text" class="form-control my-2" id="txtestado" disabled>
                            <label for="txtestado">Estado </label>
                        </div>
                        <!-- telefono -->
                        <div class="form-floating my-1">
                            <input type="number" class="form-control my-2" id="txttelefono" disabled>
                            <label for="txttelefono">Teléfono </label>
                        </div>
                    </div>
                    
                    <div class="col-6 col-md-8">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <h3>Datos Laborales</h3>
                                <!-- sucursal -->
                                <div class="form-floating my-1">
                                    <input type="text" class="form-control my-2" id="txtsucursal" disabled>
                                    <label for="txtsucursal">Sucursal </label>
                                </div>
                                <!-- codigo de empleado -->
                                <div class="form-floating my-1">
                                    <input type="number" class="form-control my-2" id="txtcodigoEmpleado" disabled>
                                    <label for="txtcodigoEmpleado">Código de Empleado </label>
                                </div>
                                <!-- email -->
                                <div class="form-floating my-1">
                                    <input type="email" class="form-control my-2" id="txtemail" disabled>
                                    <label for="txtemail">Email </label>
                                </div>
                                <!-- puesto -->
                                <div class="form-floating my-1">
                                    <input type="text" class="form-control my-2" id="txtpuesto" disabled>
                                    <label for="txtpuesto">Puesto </label>
                                </div>
                                <!-- salario -->
                                <div class="form-floating my-1">
                                    <input type="text" class="form-control my-2" id="txtsalario" disabled>
                                    <label for="txtsalario">Salario </label>
                                </div>
                                <!-- fecha ingreso -->
                                <div class="form-floating my-1">
                                    <input type="text" class="form-control my-2" id="txtfechaIngreso" disabled>
                                    <label for="txtfechaIngreso">Fecha de Ingreso </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <h3>Datos de usuario</h3>
                                <!-- nombre de usuario -->
                                <div class="form-floating my-1">
                                    <input type="text" class="form-control my-2" id="txtnombreUsuario" disabled>
                                    <label for="txtnombreUsuario">Nombre de Usuario </label>
                                </div>
                                <!-- contraseña -->
                                <div class="form-floating my-1">
                                    <input type="password" class="form-control my-2" id="txtcontrasenia" disabled>
                                    <label for="txtcontrasenia">Contraseña </label>
                                </div>
                                <!-- rol -->
                                <div class="form-floating mx-1">
                                    <input type="text" class="form-control my-2" id="txtrol" disabled>
                                    <label for="txtrol">Rol </label>
                                </div>
                                <div class="container-fluid text-center">
                                    <button class="btn btn-warning mb-2" type="button" id="btnUpdatePassword">Cambiar contraseña</button>
                                    <button class="btn btn-success mb-2" type="button" id="btnUpdatePasswordConfirm" disabled>Confirmar</button>
                                    <button class="btn btn-danger mb-2" type="button" id="btnUpdatePasswordCancel" disabled>Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </main>
    <footer id="footerPage" class="sticky-bottom"></footer>
    <script src="../../lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../controllers/centralController.js" type="module"></script>
</body>
</html>